@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #286340;
  --secondary-color: #0f5f4d;
  --accent1-color: #005a57;
  --accent2-color: #0c555d;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;
}

body{
    text-align: center;
    font-family: var(--paragraph-font);
    background-color: #0c555d;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: var(--heading-font);
}

#logo{
    max-height: 40px;
    padding-left: 10px;
}


